<nav class="highlight">
    <ul id="main-menu" class="slimmenu">
        <li class="has-submenu"><a href="index.html" target="_blank">Home</a>
            <ul style="display: block;">                
            </ul>
            <span class="sub-toggle"><i></i></span>
        </li>
        <li class="has-submenu">
            <a href="#">Pages</a>
            <ul style="display: none;">
                <li><a href="/author/themeix/">Author</a></li>
                <li><a href="/authors/">Authors</a></li>
                <li><a href="/tag/getting-started/">Tag</a></li>
                <li><a href="/tags/">Tags</a></li>
                <li><a href="/full-width-post-example/">Full Width Post</a></li>
                <li><a href="/full-width-page-example/">Full Width Page</a></li>
                <li><a href="/blank-page">Blank Page</a></li>
                <li><a href="/error-page">404 - Error</a></li>
            </ul>
            <span class="sub-toggle"><i></i></span>
        </li>
        {{#foreach navigation}}
        <li><a href="{{url absolute='true'}}">{{label}}</a></li>
        {{/foreach}}
        <li>
            <a href="#" class="search-modal" data-toggle="modal" data-target="#searchmodal"><img
                    src="{{asset "images/search-icon.png"}}" alt="image" /></a>
        </li>
        <li class="membership-icon text-center">
            {{#if @member}}
            <a class="account-link" href="/account/" title="Account"><i class="fa fa-user"
                    aria-hidden="true"></i>Account</a>
            <a title="Log out" class="signout-link" href="#signout" data-members-signout><i class="fa fa-sign-out"
                    aria-hidden="true"></i>Log out</a>
            {{else}}
            <a title="Log in" class="signin-link" href="/signin/"><i class="fa fa-sign-in" aria-hidden="true"></i>Log in
            </a>
            <a title="Subscribe" class="sub-btn" href="/signup/"><i class="fa fa-bell-o"
                    aria-hidden="true"></i>Subscribe</a>
            {{/if}}
            <a href="#" class="search-modal" data-toggle="modal" data-target="#searchmodal"><img
                    src="{{asset "images/search-icon.png"}}" alt="image" /> Search</a>
        </li>
    </ul>
</nav>
